<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
    <script src="src/library/jquery-3.1.0.js"></script>
    <script src="/src/library/underscore.js"></script>
    <script src="src/library/backbone.js"></script>
    <script src="src/library/backbone.marionette.js"></script>
    <title>Title</title>
</head>
<body>
<div id="header">

</div>
<div class="col-md-12 col-md-offset-0">

    <div id="main">


    </div>

</div>

<script type="text/html" id="users-table-template">
    <thead>
    <tr>
        <th>FirstName:</th>
        <th>LastName:</th>
        <th>Email:</th>
        <th>Books:</th>
        <th>Action:</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</script>
<script type="text/html" id="users-table-row-template">
    <td><%- firstname %></td>
    <td><%- lastname %></td>
    <td><%- email %></td>
    <td>
        <button class="btn btn-small btn-success js-show">Show</button>
        <button class="btn btn-small btn-warning js-edit">Edit</button>
        <button class="btn btn-small btn-default js-give">Give a free book</button>
        <button class="btn btn-small btn-danger pull-right js-delete">Delete</button>

    </td>
</script>
<script type="text/html" id="header-template">
    <ul class="nav navbar-nav">
        <li><a style="cursor: pointer;" class="js-users">Users</a></li>
        <li><a style="cursor: pointer;" class="js-books">Books</a></li>
        <li><a style="cursor: pointer;" class="js-add-user">Add User</a></li>
        <li><a style="cursor: pointer;" class="js-add-book">Add Book</a></li>
    </ul>
</script>

<script type="text/html" id="books-table-row-template">

    <td><%- title %></td>
    <td><%- author %></td>
    <td><%- genre %></td>
    <td><%- year %></td>
    <td><%- user_id %></td>
    <td>
        <button class="btn btn-small btn-success js-show">Show</button>
        <button class="btn btn-small btn-warning js-edit">Edit</button>
        <button class="btn btn-small btn-default js-give">Give a free book</button>
        <button class="btn btn-small btn-danger pull-right js-delete">Delete</button>

    </td>

</script>

<script type="text/html" id="books-table-template">
    <thead>
    <tr>
        <th>Title:</th>
        <th>Author:</th>
        <th>Genre:</th>
        <th>Year:</th>
        <th>Owner:</th>
        <th>Action:</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</script>
<script type="text/html" id="create-user-template">
    <form>
        <input class="form-control" name="id" type="hidden" value="">
        <div class="form-group">
            <label for="">First Name</label>
            <input class="form-control" id="firstname" name="firstname" type="text" value="<%- firstname %>">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input class="form-control" name="lastname" type="text" value="<%- lastname %>">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" name="email" type="text" value="<%- email %>">
        </div>
        <input class="btn btn-primary js-save" type="submit" value="Save">
    </form>

    <div class="js-errors"></div>
</script>


<script type="text/html" id="create-book-template">
    <form>
        <input class="form-control" name="id" type="hidden" value="">
        <div class="form-group">
            <label for="">First Name</label>
            <input class="form-control" id="title" name="title" type="text" value="<%- title %>">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input class="form-control" name="author" type="text" value="<%- author %>">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" name="year" type="text" value="<%- year %>">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" name="genre" type="text" value="<%- genre %>">
        </div>
        <input class="btn btn-primary js-save" type="submit" value="Save">
    </form>
    <div class="js-errors"></div>
</script>

<script type="text/html" id=""></script>
<script type="text/html" id=""></script>
<script type="text/html" id=""></script>

<script type="application/javascript">

    var app = new Marionette.Application();

    app.addRegions({
        main: '#main',
        header: '#header'
    });

    app.Router = Marionette.AppRouter.extend({
        appRoutes: {
            'user': 'showUsers',
            'user/create': 'createUser',

            'book': 'showBooks',
            'book/create': 'createBook'
        }
    });

    routerAPI = {
        showUsers: function () {
            Controller.showUsers();
        },
        createUser: function () {
            Controller.createUser();
        },
        showBooks: function () {
            Controller.showBooks();
        },
        createBook: function () {
            Controller.CreateBook();
        }
    };


    app.on('show:users', function () {
        Backbone.history.navigate('user', {
            trigger: true
        });
    });

    app.on('create:user', function () {
        Backbone.history.navigate('user/create', {
            trigger: true
        });
    });

    app.on('show:books', function () {
        Backbone.history.navigate('book', {
            trigger: true
        });
    });

    app.on('create:books', function () {
        Backbone.history.navigate('book/create', {
            trigger: true
        });
    });

    app.on('start', function () {
        app.getRegion('header').show(new header());
        new app.Router({
            controller: routerAPI
        });

        if (Backbone.history) {
            Backbone.history.start();

            if (this.getCurrentRoute() === "") {
                Backbone.history.navigate('user', {
                    trigger: true
                });
            }
        }
    });

    app.navigate = function (route, options) {
        options || (options = {});
        Backbone.history.navigate(route, options);
    };

    app.getCurrentRoute = function () {
        return Backbone.history.fragment
    };

    //===================models====================
    //model
    var User = Backbone.Model.extend({
        urlRoot: 'http://bsa_laravel_rest.local/users',
        defaults: {
            id: '',
            firstname: '',
            lastname: '',
            email: '',
            books: {
                id: '',
                title: '',
                author: '',
                genre: '',
                year: ''
            }
        },
        validate: function(attrs, options) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var reAplpha=/^[A-Za-zА-Яа-я]*$/;

            var errors = {}
            if (! attrs.firstname) {
                errors.firstname = "FirstName can't be blank";
            }
            if (! attrs.lastname) {
                errors.lastname = "Lastname can't be blank";
            }
            else if(!reAplpha.test(attrs.lastname))
            {
                errors.lastname='Lastname has to contain only letters';
            }

            if (! attrs.email) {
                errors.email = "Email can't be blank";
            }
            else
            if(!re.test(attrs.email))
            {
                errors.email = "Email is invalid";
            }
            if( ! _.isEmpty(errors)){
                return errors;
            }
        }
    });

    //model
    var UserCollection = Backbone.Collection.extend({
        model: User,
        url: 'http://bsa_laravel_rest.local/users'
    });

    //model
    var Book = Backbone.Model.extend({
        urlRoot: 'http://bsa_laravel_rest.local/books',
        defaults: {
            id: '',
            title: '',
            author: '',
            genre: '',
            year: '',
            user: {
                id: '',
                firstname: '',
                lastname: '',
                email: ''
            }
        },
        validate: function(attrs, options) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var reAplpha=/^[A-Za-zА-Яа-я]*$/;
            var reYear=/^[0-9]*$/;

            var errors = {}
            if (! attrs.title) {
                errors.title = "Title can't be blank";
            }
            if (! attrs.author) {
                errors.author = "Author can't be blank";
            }
            else if(!reAplpha.test(attrs.author))
            {
                errors.author='Lastname has to contain only letters';
            }
            if (! attrs.genre) {
                errors.genre = "Genre can't be blank";
            }
            else if(!reAplpha.test(attrs.genre))
            {
                errors.genre='Genre has to contain only letters';
            }

            if (! attrs.year) {
                errors.year = "Year can't be blank";
            }
            else
            if(!reYear.test(attrs.year))
            {
                errors.year = "Year is invalid";
            }
            else if ((attrs.year<100) || (attrs.year>2016))
            {
                errors.year = "The year must be at least 1000 and may not be greater than 2016";
            }
            if( ! _.isEmpty(errors)){
                return errors;
            }
        }
    });

    var BookCollection = Backbone.Collection.extend({
        model: Book,
        url: 'http://bsa_laravel_rest.local/books'
    });

    //================views===============

    //template
    var UserInTable = Marionette.ItemView.extend({
        tagName: 'tr',
        template: '#users-table-row-template'
    });

    //template
    var Users = Marionette.CompositeView.extend({
        tagName: 'table',
        className: 'table table-striped table-hover table-bordered',
        template: '#users-table-template',
        childView: UserInTable,
        itemViewContainer: 'tbody'
    });

    var CreateUser = Marionette.ItemView.extend({
        template: '#create-user-template',
        ui: {
            save: '.js-save',
            form: 'form',
            err: '.js-errors'
        },
        modelEvents: {
            'change': 'render'
        },
        events: {
            'click @ui.save': function (e) {
                e.preventDefault();
                var view = this;
                var user = this.model;
                this.ui.err.empty();
                var firstname = this.ui.form.find("input[name='firstname']").val();
                var lastname = this.ui.form.find("input[name='lastname']").val();
                var email = this.ui.form.find("input[name='email']").val();
                this.model.unset('id');

                if(user.save({
                                firstname: firstname,
                                lastname: lastname,
                                email: email,
                            })){
                    view.ui.err.append('<ul>');
                    view.ui.err.find('ul').append('<li>' + 'Вы создали нового пользователя!' + '</li>');
                } else {
                    //вызывается если модель не прошла валидацию
                    var errors = this.model.validationError; //array
                    view.ui.err.append('<ul>');
                    $.each(user.validationError, function (key, value) {
                        view.ui.err.find('ul').append('<li>' + value + '</li>');
                    })
                }
            }
        }
    });

    var BookInTable = Marionette.ItemView.extend({
        tagName: 'tr',
        template: '#books-table-row-template',
    });

    var Books = Marionette.CompositeView.extend({
        tagName: 'table',
        className: 'table table-striped table-hover table-bordered',
        template: '#books-table-template',
        childView: BookInTable,
        itemViewContainer: 'tbody'
    });

    var CreateBook = Marionette.ItemView.extend({
        template: '#create-book-template',
        ui: {
            save: '.js-save',
            form: 'form',
            err: '.js-errors'
        },
        modelEvents: {
            'change': 'render'
        },
        events: {
            'click @ui.save': function (e) {
                e.preventDefault();
                var view = this;
                var book = this.model;
                this.ui.err.empty();
                var title = this.ui.form.find("input[name='title']").val();
                var author = this.ui.form.find("input[name='author']").val();
                var year = this.ui.form.find("input[name='year']").val();
                var genre = this.ui.form.find("input[name='genre']").val();
                this.model.unset('id');

                if(book.save({
                            title: title,
                            author: author,
                            year: year,
                            genre:genre,
                        })){
                    view.ui.err.append('<ul>');
                    view.ui.err.find('ul').append('<li>' + 'Вы создали новую книгу!' + '</li>');
                } else {
                    //вызывается если модель не прошла валидацию
                    var errors = this.model.validationError; //array
                    view.ui.err.append('<ul>');
                    $.each(book.validationError, function (key, value) {
                        view.ui.err.find('ul').append('<li>' + value + '</li>');
                    })
                }
            }
        }
    });


    //template
    var header = Marionette.ItemView.extend({
        template: '#header-template',
        tagName: 'nav',
        id: 'header',
        className: 'navbar navbar-inverse',
        ui: {
            showUsers: '.js-users',
            showBooks: '.js-books',
            createUser: '.js-add-user',
            createBook: '.js-add-book'
        },
        events: {
            'click @ui.showUsers': function () {
                app.trigger('show:users');
            },

            'click @ui.showBooks': function () {
                app.trigger('show:books');
            },
            'click @ui.createUser': function () {
                app.trigger('create:user');
            },
            'click @ui.createBook': function () {
                app.trigger('create:book');
            }
        }

    });


    var Controller = {
        showUsers: function () {
            var users = new UserCollection();
            users.fetch();

            var usersView = new Users({
                collection: users
            });

            app.main.show(usersView);
        },
        createUser: function () {
            var view = new CreateUser({model: new User()});

            app.main.show(view);
        },

        showBooks: function () {
            var books = new BookCollection();

            books.fetch();

            var booksView = new Books({
                collection: books
            });
            app.main.show(booksView);
        },
        createBook: function () {
            var createBookview = new createBook({model: new Book()});

            app.main.show(createBookview);
        }
    };

    app.start();
</script>

</body>
</html>